/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.25rem;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
}
.nav a:hover {
  color: #e93a17;
}

header {
  text-align: center;
  background: url("images/background.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding: 30vh 0;
  height: 100vh;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgb(230, 217, 205);
  padding: 10px;
  transition: all 0.5s;
  background: rgb(230, 217, 205);
}
header .profile-image:hover {
  transform: scale(1.2) rotate(-10deg);
}
.tag {
  background-color: #e93a17;
  color: #98dfe9;
  padding: 0.25em 0.75em;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #98dfe9;
  color: #e93a17;
}
.card {
  margin: 150px 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  border: 2px solid #ccc;
  border-radius: 50px;
  transition: all 0.5s;
}
.card:hover {
  border-color: #e93a17;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #e93a17;
  color: #98dfe9;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #98dfe9;
  color: #e93a17;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  /* header {
    min-height: 470px;
  } */

  .nav {
    max-width: 1200px;
    padding: 0 30px;
    font-size: 2rem;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

/* Resume page styles */

#header-others {
  height: 30vh;
  background: linear-gradient(20deg, #f5714f, #85c5cb 60%);
  padding: 17vh 0;
}

#header-others h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  margin: auto 3rem;
  color: rgba(0, 0, 0, 0.692);
}

.resume {
  max-width: 90%;
  margin: 0 auto;
  padding: 3em 0 3em;
  text-align: left;
}

.resume ul {
  list-style-type: none;
}

.prof-exp {
  margin-top: 3em;
}
/* Travel page styles */

.gallery {
  padding: 5em 0 3em;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding-top: 1em;
  font-style: italic;
}

@media screen and (min-width: 720px) {
  .gallery img {
    max-width: 100%;
    height: auto;
  }

  .gallery {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  figure {
    margin: 1em;
  }

  .resume {
    display: flex;
    justify-content: center;
  }

  .education {
    border-right: solid 1px;
    padding-right: 2.25em;
  }

  .prof-exp {
    padding-left: 2.25em;
    margin: unset;
  }
}
